<!--
  Copyright 2019 Google LLC. All Rights Reserved. All Rights Reserved.

  Licensed under the Apache License, Version 2.0 (the "License");
  you may not use this file except in compliance with the License.
  You may obtain a copy of the License at

       http://www.apache.org/licenses/LICENSE-2.0

  Unless required by applicable law or agreed to in writing, software
  distributed under the License is distributed on an "AS IS" BASIS,
  WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
  See the License for the specific language governing permissions and
  limitations under the License.
-->
{% extends '../../src/_includes/layout.njk'%} {% block html %}
<div id="floating-panel">
  <strong>Start:</strong>
  <select id="start">
    <option value="hanoi, vietnam">Hanoi</option>
    <option value="ha long, vietnam">Ha Long</option>
    <option value="hue, vietnam">Hue</option>
    <option value="da nang, vietnam">Da Nang</option>
    <option value="hoi an, vietnam">Hoi An</option>
    <option value="nha trang, vietnam">Nha Trang</option>
    <option value="da lat, vietnam">Da Lat</option>
    <option value="mui ne, vietnam">Mui Ne</option>
    <option value="vung tau, vietnam">Vung Tau</option>
    <option value="ho chi minh city, vietnam">Ho Chi Minh City</option>
    <option value="can tho, vietnam">Can Tho</option>
    <option value="phu quoc, vietnam">Phu Quoc</option>
  </select>
  <br />
  <strong>End:</strong>
  <select id="end">
    <option value="hanoi, vietnam">Hanoi</option>
    <option value="ha long, vietnam">Ha Long</option>
    <option value="hue, vietnam">Hue</option>
    <option value="da nang, vietnam">Da Nang</option>
    <option value="hoi an, vietnam">Hoi An</option>
    <option value="nha trang, vietnam">Nha Trang</option>
    <option value="da lat, vietnam">Da Lat</option>
    <option value="mui ne, vietnam">Mui Ne</option>
    <option value="vung tau, vietnam">Vung Tau</option>
    <option value="ho chi minh city, vietnam">Ho Chi Minh City</option>
    <option value="can tho, vietnam">Can Tho</option>
    <option value="phu quoc, vietnam">Phu Quoc</option>
  </select>
</div>
<div id="container">
  <div id="map"></div>
  <div id="sidebar"></div>
</div>
<div style="display: none">
  <div id="floating-panel">
    <strong>Start:</strong>
    <select id="start">
      <option value="hanoi, vietnam">Hanoi</option>
      <option value="ha long, vietnam">Ha Long</option>
      <option value="hue, vietnam">Hue</option>
      <option value="da nang, vietnam">Da Nang</option>
      <option value="hoi an, vietnam">Hoi An</option>
      <option value="nha trang, vietnam">Nha Trang</option>
      <option value="da lat, vietnam">Da Lat</option>
      <option value="mui ne, vietnam">Mui Ne</option>
      <option value="vung tau, vietnam">Vung Tau</option>
      <option value="ho chi minh city, vietnam">Ho Chi Minh City</option>
      <option value="can tho, vietnam">Can Tho</option>
      <option value="phu quoc, vietnam">Phu Quoc</option>
    </select>
    <br />
    <strong>End:</strong>
    <select id="end">
      <option value="hanoi, vietnam">Hanoi</option>
      <option value="ha long, vietnam">Ha Long</option>
      <option value="hue, vietnam">Hue</option>
      <option value="da nang, vietnam">Da Nang</option>
      <option value="hoi an, vietnam">Hoi An</option>
      <option value="nha trang, vietnam">Nha Trang</option>
      <option value="da lat, vietnam">Da Lat</option>
      <option value="mui ne, vietnam">Mui Ne</option>
      <option value="vung tau, vietnam">Vung Tau</option>
      <option value="ho chi minh city, vietnam">Ho Chi Minh City</option>
      <option value="can tho, vietnam">Can Tho</option>
      <option value="phu quoc, vietnam">Phu Quoc</option>
    </select>
  </div>
</div>
{% endblock %}
